{% extends "base.html" %}
{% load static %}


{% block css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title%} 
Home Page

{% endblock %}

{% block content%}
  <h1>Home page</h1>
  <p>Hello, {{ user }}!</p>
  <p><b>Look, we both know you didn't wake up today thinking, "I desperately need more stuff." But then you stumbled in here, saw our ridiculously good selection, and realized your life is actually incomplete without it. We source the kind of high-quality goods that make your guests ask, "Where did you get that?" so you can casually pretend you just have immaculate natural taste. Treat yourself—your cart isn't going to fill itself, and honestly, you've earned it.</b></p>
  <img src = "{% static 'img/112 home.jpg' %}" alt="Home Image" class="img-fluid">
{% endblock %}

{% block js %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}